    <div class="personajes">
            <div class="personaje" *ngFor="let personaje of personajes"
            [ngClass]="{ vivo: (personaje.status === 'Alive'), muerto:(personaje.status === 'Dead')}">
                <h3>Nombre: {{personaje.name}} </h3>
                <img [src]="personaje.image" alt="">
                <p>Especie: {{personaje.species}} </p>
                <p>Planeta de Origen: {{personaje.origin.name}}</p>
            </div>
    </div>

    <div class="botones">
        <button (click)="onClick(false)"
        [disabled]="paginaActual === 1">Anterior</button>
        
        <button (click)="onClick(true)"
        [disabled]="paginaActual === numPaginas">Siguiente</button>
    </div>

